.overviewflowcomponent {
    display: flex;
    height: 90vh;
    width: 90vw;
}

.overviewflowcomponent aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.overviewflowcomponent aside .description {
    margin-bottom: 10px;
}

.overviewflowcomponent .dndnode {
    height: 35px;
    width: 35px;
    padding: 4px;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin-left: 5px;
}

.overviewflowcomponent .dndnode.input {
    height: 35px;
    width: 35px;
    border-style: solid;
    border: 1px solid #ffffff;
    border-width: 15.5px 0 15.5px 28.3px;
    border-color: transparent transparent transparent #00ff33;
}

.overviewflowcomponent .dndnode.action {
    width: 35px;
    height: 35px;
    background: rgb(243, 167, 4);
    border: 1px solid #ffffff;
    border-color: #000000;
}

.overviewflowcomponent .dndnode.output {
    width: 35px;
    height: 35px;
    background: red;
    border: 1px solid #ffffff;
    border-color: #000000;
}

.overviewflowcomponent .dndnode.cube {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

.overviewflowcomponent .dndnode.cube-wrap {
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.overviewflowcomponent .dndnode.database {
    /* whatever values/units you want */
    width: 30px;
    height: 40px;
    border-radius: 100% / 8px;
    background:
        radial-gradient(50% 4px at 50% 4px, #0003 99.99%, #0000 0),
        radial-gradient(50% 4px at 50% calc(100% - 4px), #fff3 99.99%, #0000 0),
        rgb(55, 72, 226);
    border-color: #000000;
}

.overviewflowcomponent .reactflow-wrapper {
    flex-grow: 1;
    height: 90%;
    width: 100%;
}

.overviewflowcomponent .dndnode.parallelogram {
    width: 45px;
    height: 35px;
    margin-left: 8px;
    margin-right: 5px;
    transform: skew(20deg);
    background: rgb(128, 115, 197);
    border-color: #000000;
    border: 1px solid #000000;
}


.overviewflowcomponent .dndnode.question {
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-bottom-color: rgb(243, 114, 8);
    position: relative;
    top: -25px;
}

.overviewflowcomponent .dndnode.question:after {
    content: '';
    position: absolute;
    left: -17px;
    top: 25px;
    width: 35;
    height: 35;
    border: 20px solid transparent;
    border-top-color: rgb(243, 114, 8);
}

.overviewflowcomponent .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .overviewflowcomponent {
        flex-direction: row;
    }

    .overviewflowcomponent aside {
        width: 100%;
        height: 35px;
        min-width: 1400px;
    }
}

.react-flow__node-zoom {
    font-size: 12px;
    background: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    padding: 10px;
    line-height: 1.2;
}

.react-flow__node-zoom img {
    pointer-events: none;
}

.placeholder div {
    background: #eee;
    width: 100%;
    height: 35px;
    margin-bottom: 4px;
}

.placeholder div:last-child {
    margin-bottom: 0;
}

#download-image .react-flow {
    background: #1a365d;
}

.downloadbutton {
    height: 35px;
    margin-left: auto;
}

#download-image .react-flow__node {
    width: 50px;
    height: 45px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
}

#download-image .react-flow__node-custom {
    font-size: 12px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#download-image .react-flow__node-custom .react-flow__handle-right {
    transform: none;
}

#download-image.wrapper {
    position: relative;
    height: 100%;
}

#download-image .download-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    border: 1px solid #eee;
    background: #ebf8ff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

#download-image .download-btn:hover {
    opacity: 0.9;
}


/* custom Nodes  */

.text-updater-node {
    height: 70px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.parallelogram {
    width: 100px;
    height: 50px;
    transform: skew(20deg);
    background: #555;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid green;
}